#templates {
  display: none;
}

.template {
  color: transparent;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#card {
}

.card {
  max-width: 410px;
  margin: 50px auto;
  font-size: 20px;

  border: 1px solid #CCC;
  border-radius: 1em;
  padding: 1em;
  box-sizing: border-box;
}

.origin {
  font-style: italic;
}
