<!DOCTYPE html>
<html>
  <head>
    <title>Lesson Nine -- Using Variables -- Project</title>
    <link rel="stylesheet" type="text/css" href="../../hs-utils/assets/lib.css">
    <link rel="stylesheet" type="text/css" href="./assets/list.css">
  </head>
  <body>
    <div class="container" id="work-link">
      <h3><a href="http://jsbin.com/lewizokuja/1/edit?js,output">Work Here</a></h3>
    </div>

    <div id="display" class="container">
      <div class="row">
        <div id="card" class='list-group'>
          
        </div>
      </div>
    </div>

    <div id="templates">
      <div class="template card" id="item-template">
        <h3 class="name">{{character.name}}</h3>
        <% if(typeof character.image !== 'undefined'){ %>
        <img class="img-responsive" src="{{character.image}}"/>
        <% }
        var features = _.omit(character, 'image', 'name');
        features = _.omit(features, _.isFunction);
        _.each(features, function(feature, featureName){
          var featureClass = _.snakeCase(featureName).replace('_', '-');
          var featureLabel = _.capitalize(_.words(featureName).join(' '));
          if(_.isArray(feature)){
            feature = feature.join(', ');
          }%>
          <p class="details {{featureClass}}"><strong>{{featureLabel}}:</strong> {{feature}}</p>
        <%});%>
      </div>
    </div>

    <script type="text/javascript" src="../../hs-utils/assets/lib.js"></script>

    <script type="text/javascript" src="./assets/main.js"></script>
  </body>
</html>